<!-- Widok ze szczegółami klienta-->

@model MarcinWojczalZadDomLab6.ViewModels.CustomerViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- Głowny nagłówek-->
<h1>Szczegóły</h1>

<!-- Kontener z danymi klienta-->
<div>
    <h4>Dane</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EMail)
        </dd>
    </dl>
    <h4>Adres</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Number)
        </dd>
    </dl>
</div>
<!--Odnośnik do strony głównej widoku klientów-->
<div>
    <a asp-action="Index">Wróć do listy klientów</a>
</div>
